USE [UPT]
GO
/****** Object:  StoredProcedure [dbo].[trabixdoc_v2]    Script Date: 17/09/2025 08:39:10 ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[trabixdoc_v2]	            
    @codigo INT,
    @idsem INT 
AS            
BEGIN
    SELECT 
        t.idtrab, 
        actividad, 
        dactividad, 
        importancia, 
        medida, 
        cant, 
        horas, 
        calif, 
        meta,            
        CASE 
            WHEN fecha_inicio IS NULL THEN CONVERT(varchar(10), GETDATE(), 103) 
            ELSE CONVERT(varchar(10), fecha_inicio, 103) 
        END AS FECHA_INICIO,            
        CASE 
            WHEN fecha_fin IS NULL THEN CONVERT(varchar(10), GETDATE(), 103) 
            ELSE CONVERT(varchar(10), fecha_fin, 103) 
        END AS FECHA_FIN,            
        CASE 
            WHEN porcentaje IS NULL THEN 0 
            ELSE porcentaje 
        END AS PORCENTAJE, 
        @idsem AS SEMESTRE, 
        t.codigo, 
        CASE 
            WHEN t.estado IS NULL THEN 0 
            ELSE t.estado 
        END AS ESTADO,
        CASE 
            WHEN porcentaje = 100 THEN 1 
            ELSE 0 
        END AS validarestado,
        CASE 
            WHEN porcentaje = 100 AND thf.estado = 1 THEN 1 
            ELSE 0 
        END AS finalizacion,
        t.dependencia,
        t.detalle_actividad,
        t.tipo_actividad
    FROM trab t 
    INNER JOIN semestre s ON s.idsem = t.idsem
    LEFT JOIN trab_historial_finalizado thf ON thf.idtrab = t.idtrab 
        AND thf.IdSem = s.IdSem 
        AND thf.estado = 1
    WHERE t.codigo = @codigo 
      AND s.IdSem = @idsem 
    ORDER BY t.idtrab ASC
END
